<ion-view view-title="Lugares">
  <ion-content>
    <div class="list card">
      <div ng-repeat="lugar in lugares">
        <div class="item item-avatar">
          <img src="{{DummyPlaceUrl}}">
          <h2>{{lugar.name}}</h2>
          <p>{{lugar.description}}</p>
        </div>

        <div class="item item-image">
          <img src="{{DummyPlaceUrl}}">
        </div>

        <a class="item item-icon-left assertive" href="#/tab/places/{{lugar.id}}">
          <i class="icon ion-images"></i>
          Ver detalles del lugar
        </a>  
      </div>
    </div>
  </ion-content>
</ion-view>
